form
    background-color:  rgba(73,91,114, 1)
    height: 200px
    display: flex
    justify-content: left
    align-items: center

    
section
    margin-left: 12px
    h1
        font-weight: 700
        font-size: 32px
    ol
        margin-left: 12px
    ul 
        margin-left: 12px
        font-size: 12px
        font-style: italic

 

