header
    display: flex
    justify-content: center
    align-items: center
    background-color:  rgba(73,91,114, 1)
    border-bottom: 1px groove #333

    div
        padding: 8px 16px 0 8px
        max-width: 1920px
        width: 100%
        display: flex
        justify-content: space-between

        h1
            cursor: pointer