<main>
  <section class="section__form">
    <app-grid>
      <div>
        <img src="../assets/brain_draw.png" loading="lazy" alt="Logo words" />
        <form (ngSubmit)="onSubmit()" #wordForm="ngForm">
          <mat-form-field>
            <mat-label>Word</mat-label>
            <input matInput [(ngModel)]="word" name="inputWord" />
          </mat-form-field>
          <button mat-raised-button color="primary">Search</button>
        </form>
      </div>
    </app-grid>
  </section>

  @if(words){
  <app-grid>
    <mat-list>
      <mat-list-item>
        <div matListItemTitle>{{ words.word }}</div>
        @for (word of words | word; track word) {
        <mat-icon matListItemIcon>favorite </mat-icon>
        <mat-icon matListItemIcon>favorite_border </mat-icon>
        <div matListItemLine>{{ word.definition }}</div>
        }@empty{
        <div matListItemLine>None word founded</div>
        }
      </mat-list-item>
    </mat-list>
  </app-grid>
  }
</main>
